progress {
    border:0;
    width: 300px;
    height: 20px;
    border-radius: 10px;
    background: #f1f1f1;
}
progress::-webkit-progress-bar {
    width: 300px;
    height: 20px;
    border-radius: 10px;
    background: #f1f1f1;
}
progress::-webkit-progress-value {
    border-radius: 10px;
    background: #ffb76b;
}
progress::-moz-progress-bar {
    border-radius: 5px;
    background: #ffb76b;
}
.progress {
    color: #ffb76b;
    font-size: 110%;
    font-weight: bold;
}

.destroyed {
    background-color: black;
    background-image: url("../img/bang.jpg");
}